version: 2
jobs:
  build:
    working_directory: ~/analytics-react
    docker:
      - image: circleci/node:8.11
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - run: npm run build
      - run:
          name: Snyk
          command: curl -sL https://raw.githubusercontent.com/segmentio/snyk_helpers/master/initialization/snyk.sh | sh
          environment:
            SNYK_FAIL_ON: upgradable
            SNYK_SEVERITY_THRESHOLD: high

workflows:
  version: 2
  run:
    jobs:
      - build:
          context: snyk
